<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'dojosecrets/css/style.css' %}">
</head>
<body>
	<div class="wrapper">
		{% if messages %}
			<div class="error">
				<ul>
					{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			</div>
		{% endif %}
		<div class="index-content">
			<div class="index-form">
				<h1>Registration</h1>
				<form action="/process" method='POST'>
					{% csrf_token %}
					<input type="hidden" name="action" value="register">
					<label>First Name: <input type="text" name="first_name"></label>
					<label>Last Name: <input type="text" name="last_name"></label>
					<label>Email: <input type="text" name="email"></label>
					<label>Password: <input type="password" name="password"></label>
					<label>Confirm pw: <input type="password" name="confirm_pw"></label>
					<input type="submit" value="Register" class="button">
				</form>
			</div>
			<div class="index-form">
				<h1>Login</h1>
				<form action="/process" method='POST'>
					{% csrf_token %}
					<input type="hidden" name="action" value="login">
					<label>Email: <input type="text" name="email"></label>
					<label>Password: <input type="password" name="password"></label>
					<input type="submit" value="Login" class="button">
				</form>
			</div>
		</div>
	</div>
</body>
</html>