<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'dojosecrets/css/style.css' %}">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1>Hello, {{user.first_name}}!</h1>
			<form action="/logout" class="logout-button">
				<input type="submit" value="Log Out">
			</form>
		</div>
		<div class="secret-post">
			<form action="/post" method="post">
				{% csrf_token %}
				<textarea name="secret-text"></textarea>
				<input type="submit" value="Post">
			</form>
			<form action="/secrets/popular">
				<input type="submit" value="Most Popular Secrets">
			</form>
		</div>
		<h1>Recent Secrets...</h1>
		<div class="secrets-content">
			{% for secret in secrets %}
				<div class="entry">
					<p>{{secret.content}} (Posted {{secret.created_at|timesince}} ago.) {{secret.likes.count}} liked this. 
						{% if secret.user.id == request.session.user %}
							<span>You posted this. </span>
						{% endif %}
						{% if secret.likes.all%}
							{% if user in secret.likes.all %}
								<span>You liked this.</span>
								<form action="/like/{{secret.id}}" class="like2-button">
									<input type="submit" value="Unlike">
								</form>
							{% else %}
								<form action="/like/{{secret.id}}" class="like2-button">
									<input type="submit" value="Like">
								</form>
							{% endif %}
						{% else %}
							<form action="/like/{{secret.id}}" class="like2-button">
								<input type="submit" value="Like">
							</form>
						{% endif %}
						{% if secret.user.id == request.session.user %}
							<form action="/delete/{{secret.id}}">
								<input type="submit" value="Delete">
							</form>
						{% endif %}
					</p>
				</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>